#root {
  max-width: auto;
  margin: 0;
  text-align: center;
}

body {
  background-color: #64b6d1;
  font-family: sans-serif;
  font-optical-sizing: auto;
  font-weight: 4rem;
  font-style: normal;
  margin: 0;
  padding: 0px 0px 0px 0px;
  background-color: #64b6d1;
}

main {
margin: 30px 0px 50px 0px;
}

header,
footer {
  background: rgba(33, 37, 41);
  color: #fff;
  text-align: center;
  padding: 1rem;
}

footer a {
  color: #fff ;
  margin: 0 3rem;
  justify-content: center;
}